/* reset */
:root {
  --header-bg-color: hsla(195, 100%, 15%, 1);
  --header-bg-color-light: rgb(5, 68, 91);
  --lightgreen: rgb(200, 245, 200);
  --lightsalmon: hsla(17, 100%, 74%, 1);
  --orange-very-light: hsl(24, 81%, 87%);
  --orange-very-very-light: hsl(24, 40%, 87%);
  /* --box-shadow: rgb(161, 213, 247); */
  --box-shadow: hsla(204, 84%, 80%, 1);
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-light: #efefef;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-code-light-grey: #cacbd1;
  --color-code-comment: #a9aaad;
  --color-code-white: #c5c9c6;
  --color-code-red: #d16464;
  --color-code-orange: #de935f;
  --color-code-yellow: #f0c674;
  --color-code-green: #a7bd68;
  --color-code-aqua: #8abeb7;
  --color-code-blue: #7e9abf;
  --color-code-purple: #b294bb;
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

/* End reset */

:root {
  --box-shadow: hsla(220, 89%, 62%, 1);
  --header-bg-color: hsla(195, 100%, 15%, 1);
  --header-text-color: hsla(54, 100%, 50%, 1);
  --nav-text-color: hsla(54, 100%, 75%, 1);
  --white: #fff;
}

html {
  font-size: 10px;
}

@media screen and (min-width: 640px) {
  body {
    padding: 0 3%;
  }
}

body {
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 6%;
  max-width: 1024px;
}

/* This group is the header for project and projects */

.additional-info {
  font-family: serif;
  font-style: italic;
  color: var(--color-grey);
  margin-top: .8rem
}

header.projects {
  margin-top: 2vw;
  margin-bottom: 1.2vw;
}

.headline {
  font-size: clamp(2rem, 1.81vw + .87rem, 3.4rem);
}

.subheadline {
  font-size: clamp(1.4rem, .76vw + 1.13rem, 2.2rem);
  margin-top: .8rem;
}

/* End project and projects header group */

header {
  margin: 0 -3%;
}



@media screen and (min-width: 640px) {
  article p {
    max-width: 65ch;
  }
}

article p {
  margin: 0 auto;
  max-width: 100%;
}

.bulleted {
  margin-left: 2rem;
}

li {
  font-size: clamp(1.4rem, .76vw + 1.13rem, 2.2rem);
}

@media screen and (min-width: 640px) {
  h3 {
    font-size: 2.5rem;
  }
}

h1 {
  font-size: clamp(2rem, 1.81vw + .87rem, 3.4rem);
}

h2 {
  font-size: clamp(1rem, 1.43vw + .5rem, 2.5rem);
}

h2.page-title {
  font-size: clamp(1.5rem, 1.81vw + .87rem, 3.4rem);
}

h2.project-title {
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.column h3 {
  font-weight: 700;
}

h4 {
  font-size: 1.95rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.65rem;
}

.center {
  text-align: center;
}

@media screen and (min-width: 640px) {
  cite p {
    font-size: 1.6rem;
  }
}

cite p {
  color: var(--dk-grey);
  color: grey;
  display: block;
  caption-side: bottom;
  font-size: 1.6rem;
}

cite {
  color: var(--dk-grey);
  color: grey;
  display: block;
  caption-side: bottom;
  font-size: 1.6rem;
}

code {
  font-size: 1.4rem;
  background-color: antiquewhite;
}

.coverintro {
  margin: 2rem auto 0 auto;
}

figure {
  display: block;
  text-align: center;
  padding: 0;
}



figcaption {
  caption-side: bottom;
  font-size: 1.6rem;
  margin: .8rem .4rem .2rem .4rem;
  color: var(--color-text);
  line-height: 1.25;
}

@media screen and (min-width: 640px) {
  figcaption {
    font-size: 1.6rem;
  }
}

figcaption p.caption {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

figcaption p {
  caption-side: bottom;
  font-size: 1.6rem;
  margin: .8rem 0 .2rem 0;
  color: var(--color-text);
  line-height: 1.25;
}

figcaption p.citation {
  font-size: 1.4rem;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.figure {
  border: solid 4px transparent;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 0;
}

.figure p {
  font-size: 1.2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.figure .figure-caption {
  display: inline-block;
}

.figure-lft {
  margin: 1.6rem 40px 1.6rem 0;
}


.footer::before {

  content: "";
  display: block;
  height: 2px;
  background: var(--color-black);
  margin-bottom: 1.5rem;
}

.floatleft {
  float: left;
  margin-left: 4rem;
  margin-right: 4rem;
}

.gradient-text {
  background-image: linear-gradient(45deg, lightgreen, lightblue, var(--orange-very-light), lightgreen, lightblue);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.honeypot {
  position: absolute;
  left: -9999px;
}

hr {
  margin: 3rem 5rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* puts a dashed border around images lacking the alt tag */

img[alt=""],
img:not([alt]) {
  border: 3px dashed #c00
}

li {
  line-height: 1.25;
  list-style: none;
}

@media screen and (min-width: 640px) {
  li.project-list:nth-of-type(1n) {
    grid-template-columns: 3fr 2fr;
  }

  li.project-list:nth-of-type(1n) .project-text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-right: 3rem;
  }

  li.project-list:nth-of-type(1n) .project-image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
  }

  li.project-list:nth-of-type(2n) {
    grid-template-columns: 2fr 3fr;
  }

  li.project-list:nth-of-type(2n) .project-image {
    grid-column: 1 / 2;
    align-self: center;
  }

  li.project-list:nth-of-type(2n) .project-text {
    grid-column: 2 / 3;
    padding-left: 3rem;
  }
}

.margin-2 {
  margin-bottom: 2rem;
}

p {
  font-size: clamp(140%, .76vw + 1.33rem, 160%);
  line-height: 1.5;
}


@media screen and (min-width: 640px) {
  p {
    font-size: clamp(1.6rem, .76vw + 1.33rem, 2.4rem);
  }
}


p.ch-width-60 {
  max-width: 60ch;
}

.page-header-nav a:hover {
  text-decoration: underline;
  background: #0083b3;
  font-weight: 800;
}

.page-subtitle {
  font-size: clamp(1rem, 1.43vw + .5rem, 2.5rem);
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.page-header {
  background-color: hsla(195, 100%, 15%, 1);
  background-color: var(--main-header-color);
  padding: 2rem 0 2.4rem 0;
}

/* check .project-list use in home page- perhaps change class */
.project-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.project-text ul li {
  margin-left: 4rem;
  font-size: 1.85rem;
}

.project-title {
  grid-row: 1;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 10px auto;
}

/* check .project-list use in home page- perhaps change class */
@media screen and (min-width: 640px) {
  .project-list {
    display: grid;
    gap: 20px;
  }

  .project-title {
    grid-column: 1/3;
  }
}

.text-left {
  text-align: left;
}

ul.projects {
  padding-left: 0;
  margin-top: 3.5rem;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Set grid for header and nav */

.header-main {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 2vw;
}

.header-logo-box {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-left: 2vw;
  position: relative;
  z-index: 2;
  padding-top: 2px;
}

.header-top {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: #fff;
  padding-top: 2px;
}

.header-spacer {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--header-bg-color);
}

.header-text {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--header-bg-color);
  padding-top: clamp(.7rem, 2.19vw - .07rem, 3rem);
  padding-bottom: clamp(.7rem, 1.24vw + .27rem, 2rem)
}

.header-bottom {
  grid-row: 3;
  grid-column: 1 / 3;
  background-color: #fff;
  z-index: 1;
}

.header-nav {
  grid-column: 1 / 3;
  grid-row: 4;
  background-color: var(--header-bg-color);
  border-top: 2px solid var(--white);
}

.header-nav-xtra {
  grid-column: 1 / 3;
  grid-row: 5;
  background-color: var(--header-bg-color);
}



.nav-main {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
}

.nav-main li {
  text-decoration: none;
  list-style: none;
  text-align: center;
  border-right: 1px solid var(--box-shadow);
  font-size: clamp(1rem, .95vw + .67rem, 2rem);
}

.nav-main li a {
  color: var(--nav-text-color);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-decoration: none;
  padding: .5rem 1rem;
  display: flex;
  flex: 1;
  align-content: center;
  /* will vertically center multi-line text */
  align-items: center;
  /* will vertically center single-line text */
}

.nav-main li:last-child {
  border-right: none;
}

.nav-main li:hover {
  text-decoration: underline;
}

/* End mobile header and nav elements */


/* Set large screen header and nav elements */

@media screen and (min-width: 960px) {
  .header-main {
    grid-template-rows: 3rem auto auto 3rem;
  }

  .header-logo-box {
    grid-column: 1;
    grid-row: 1 / 5;
    padding-left: 2vw;
    align-self: center;
  }

  img .header-logo {
    width: 100%;
  }

  .header-top {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .header-text {
    grid-column: 2;
    grid-row: 2;
    background-color: hsla(195, 100%, 15%, 1);
  }

  .header-spacer {
    grid-column: 1;
    grid-row: 2 / 4;
    background-color: hsla(195, 100%, 15%, 1);
  }

  .header-bottom {
    grid-row: 4;
    grid-column: 1 / 3;
  }

  .header-nav {
    grid-column: 2;
    grid-row: 3;
    background-color: hsla(195, 100%, 15%, 1);
    border-top: none;
    padding-bottom: 1.35rem;
  }

  .nav-main {
    background-color: hsla(195, 100%, 15%, 1);
    justify-content: center;
    border-top: none;
  }

  .header-nav li a {
    padding: 1rem 1.35rem;
  }
}

/* End large screen set header and nav elements */

.page-margin {
  margin-left: 0;
  margin-right: 0;
}

.page-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: .2rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: var(--header-text-color);
}

.page-subtitle {
  color: var(--main-header-color);
  font-family: Georgia, serif;
  font-style: italic;
  text-align: center;
  letter-spacing: .15rem;
}

@media screen and (max-width: 640px) {
  .page-subtitle {
    display: none;
  }
}

.floatright {
  float: right;
  margin: 0 4rem;
}

.red {
  color: red;
}

/* Might want to put this in the blog.css */
.clearboth {
  clear: both
}

body.home li.home a,
body.articles li.articles a,
body.blog li.blog a,
body.contact li.contact a,
body.panels-for-sale li.panels-for-sale a {
  box-shadow: 0 0 20px 0 var(--box-shadow);
  background-color: var(--header-bg-color);
  color: var(--orange-very-light);
  border-bottom: 1px solid var(--box-shadow);
}



@media screen and (min-width: 640px) {
  br.responsive {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  br.responsive {
    display: inline;
  }
}

hr.intro {
  width: 40rem;
  margin: 2rem auto;
}

.noborder {
  border: none;
}

img:not([alt]) {
  border: 3px solid red;
}








/* Moved here from starter.css- 10rem changed to 16rem */
.autogrid {
  --gutter: 1rem;
  --min: 16rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
  align-items: center;
}

/* Gather the projects grid components */


@media screen and (min-width: 640px) {
  .grid-gallery {
    display: grid;
    --columns: 24;
    --gutter: 3rem;
    grid-column-gap: var(--gutter);
    grid-template-columns: repeat(24, 1fr);
    grid-row-gap: 1rem;
  }
}

/* 
@media screen and (min-width: 640px) {
  .grid-gallery {
    display: grid;
    --columns: 24;
    --gutter: 3rem;
    grid-column-gap: var(--gutter);
    grid-template-columns: 1fr;
  }
} */

@media screen and (max-width: 639px) {
  .grid-gallery {
    display: block;
    /* --columns: 24; */
    --gutter: 3rem;
    grid-column-gap: var(--gutter);
    grid-template-columns: 1fr;
  }
}

.grid {
  --columns: 24;
  --gutter: 3rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {

  .grid {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  /* Could be we need grid-column: span var(--span) */
  .grid>.column {
    grid-column: span var(--columns);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


@media screen and (min-width: 640px) {
  .grid {
    --columns: 12;
    --gutter: 3rem;
    display: grid;
    grid-gap: var(--gutter);
    /* grid-template-columns: 1fr; */
  }
}

.grid>.column {
  margin-bottom: var(--gutter);
  align-self: center;
}

.gallery-image {
  display: grid;
  grid-gap: 1.2rem;
}

/* .grid-list {
  grid-row: 1 / 4;
  display: grid;
} */
@media screen and (min-width: 640px) {
  .grid-figure {
    margin: 0;
  }
}

.grid-figure {
  display: grid;
  grid-row: 1 / 4;
  grid-template-rows: subgrid;
  margin-top: 1rem;
}

section.grid {
  margin: 1.5rem 0 0 0;
}

@media screen and (min-width: 640px) {
  section.grid {
    margin: 2rem auto 0 auto;
  }
}


/* End gather project grid components */

.grid-figure a {
  align-self: center;
  /* margin-top: 3rem; */
}

@media screen and (min-width: 640px) {
  .grid-figure a {
    margin-top: 0;
  }
}


.grid-figure figcaption {
  margin: 0;
}
