.note-excerpt {
  line-height: 1.5em;
}

.blog-excerpt header {
  margin-bottom: 1.5rem;
}

.blog-excerpt figure {
  margin-top: 1.5rem;
}




/* Gather the projects grid components */


@media screen and (min-width: 640px) {
  .grid-gallery {
    display: grid;
    --columns: 24;
    --gutter: 3rem;
    grid-column-gap: var(--gutter);
    grid-template-columns: repeat(24, 1fr);
    grid-row-gap: 1rem;
  }
}

/* 
@media screen and (min-width: 640px) {
  .grid-gallery {
    display: grid;
    --columns: 24;
    --gutter: 3rem;
    grid-column-gap: var(--gutter);
    grid-template-columns: 1fr;
  }
} */

@media screen and (max-width: 639px) {
  .grid-gallery {
    display: block;
    /* --columns: 24; */
    --gutter: 3rem;
    grid-column-gap: var(--gutter);
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 640px) {

  /* Could be we need grid-column: span var(--span) */
  .grid>.column {
    grid-column: span var(--columns);
  }
}

.blogs-grid {
  --columns: 12;
  --gutter: 3rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(3, 1fr);
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 640px) {
  .blogs-grid {
    --columns: 12;
    --gutter: 3rem;
    display: grid;
    grid-gap: var(--gutter);
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0;
    margin-right: 0;
  }
}

.blogs-grid li {
  display: grid;
  grid-row: 1 / 5;
  grid-template-columns: subgrid;
}

.grid>.column {
  /* margin-bottom: var(--gutter); */
  align-self: center;
}

.gallery-image {
  display: grid;
  grid-gap: 1.2rem;
}

/* .grid-list {
  grid-row: 1 / 4;
  display: grid;
} */
@media screen and (min-width: 640px) {
  .grid-figure {
    margin: 0;
  }
}

.grid-figure {
  display: grid;
  grid-row: 1 / 4;
  grid-template-rows: subgrid;
  margin-top: 1rem;
}

section.grid {
  margin: 1.5rem 0 0 0;
}

@media screen and (min-width: 640px) {
  section.grid {
    margin: 2rem auto 0 auto;
  }
}


/* End gather project grid components */

.grid-figure a {
  align-self: center;
  /* margin-top: 3rem; */
}

@media screen and (min-width: 640px) {
  .grid-figure a {
    margin-top: 0;
  }
}


.grid-figure figcaption {
  margin: 0;
}

.blog-excerpt-title {
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;

}


.blog-excerpt-figure {
  margin: 0;

}

.blog-excerpt-date {
  color: var(--color-text-grey);
  text-align: center;
  margin-top: 1rem;

}

.blog-excerpt-text {
  margin: 0;
  text-align: left;
}

.list-grid {
  display: grid;
  grid-row: 1 / 5;
  grid-template-rows: subgrid;
  margin-top: 1rem;
  row-gap: 1rem;
}
