.blocks li {
  color: green;
}

.small,
.medium,
.large {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .small {
    width: 60%;
  }

  .medium {
    width: 75%;
  }

  .large {
    width: 90%;
  }
}

/* Add some space below figure for  */
figure.cover {
  margin-bottom: 1.5rem;
}

figure.center {
  margin-left: auto;
  margin-right: auto;
}

.cover {
  margin-top: 2rem;
}

.coverintro {
  margin: 0;
}

@media screen and (min-width: 640px) {
  .coverintro {
    margin: 0 8.5rem;
  }
}

h1 {
  font-weight: 600;
}

@media screen and (max-width: 639px) {
  .grid>.column:not(:has(figure)) {
    /* border: 5px solid blue; */
    display: inline-block;
    order: 2;
  }

  .grid>.column:has(figure) {
    /* border: 5px solid red; */
    display: inline-block;
    order: 1;
  }
}

.smallsize {
  width: 50%;
}

.midsize {
  width: 75%
}

.fullsize {
  width: 100%;
}